*.o
*.pyc
*.swp
*Makefile
autom4te.cache/*
config.h
config.log
config.status
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
ibus-array.spec
libtool
po/remove-potcdate.sed
setup/config.py
setup/ibus-setup-array
src/.deps/
src/array.xml
src/ibus-engine-array
stamp-h1
