*.o
Makefile
config.h
config.log
config.status
data/Makefile
ibus-array.spec
icons/Makefile
libtool
m4/Makefile
setup/Makefile
setup/config.py
setup/ibus-setup-array
src/.deps/
src/Makefile
src/array.xml
src/array.xml.in
src/ibus-engine-array
stamp-h1
